
<p><a href="/places/new">Add a new place</a></p>

<ul>
  <% @places.each do |place| %>
    <li>
      <%= link_to place.title, "/places/#{place.id}" %>
      ($<%= sprintf('%.2f', (place[:admission_price] / 100.00)) %>) <a href="/places/<%=place.id%>/delete">(delete)</a>
  <% end %>

</ul>


