<h2>Add a New Place</h2>
<form action="/places/create">
Title: <input type="text" name="title"><br>
<br>
Photo Url: <input type="text" name="photo_url"><br>
<br>
Price: <input type="text" name="price"><br>
<br>
Description: 
<br><textarea rows="4" cols="50" name="description"> </textarea>
<br>
    <input type="submit" value="Submit" 
         name="Submit" />
</form>